# node_modules
node_modules/

# Logs
logs/
*.log

# OS
.DS_Store

# VSCode
.vscode/

# Env
*.env

# application.properties 파일 무시
server/src/main/resources/application.properties

# JetBrains IDE 설정 폴더
.idea/
